body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.skip-orange{
    color: orange;
}
.display-flex{
    display: flex;
    
}
.width-calculate{
    width: 50%;
    padding-left: 80px;
    padding-right: 120px;
    color: rgb(76, 72, 72);
    
    font-size: 30px;
}
.width-calculate h1{
margin-top: 30%; 
font-size: 180%;


}

.width-calculate img{
    width: 118%;
    height: 100%;
   /* padding-right: 150%; */
    
}
.button{
    text-decoration: none;
    /* background-color: #f34e13; */
    background-image: linear-gradient(to bottom right,rgb(244, 170, 101),#fb4909);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 22px;
}
p{
    font-size: 22px;
}
.width-calculate2{
    width: 50%;
    padding-left: 80px;
    padding-right: 120px;
    color: rgb(76, 72, 72);
    font-size: 30px; 
}
.width-calculate2 h1{
margin-top: 30%; 
font-size: 180%;


}
.width-calculate2 img{
    width: 75%;
    height: 90%;
   /* padding-right: 150%; */
    
}
